.body {
	background-image: url(https://media1.tenor.com/images/905a4dc61356993a521c45b3a07e4425/tenor.gif?itemid=5414479);
	background-size: cover;
	background-repeat:no-repeat;
	height: 780px;
}

.body-container {
	text-align: center;
	width: 75%;
	margin: 80px auto;
	background: rgba(0,0,0, 0.7);
}

h4, h6 {
	color: white;
	line-height: 0.5;
}

p {
	color: white;
}

.profile-img {
	width: 80px;
	margin-top: 30px;
	margin-bottom: 5px;
}

.btn {
	width: 90%;
}

a.btn:hover {
	color: white;
}

a.btn {
	font-size: 20px;
}

.bottom-container {
	background-color: black;
}

.copyright {
  color: #EAF6F6;
  font-size: 1rem;
	text-align: center;
	margin-top: 315px;
}

